body {
    background-image: linear-gradient(360deg, #06214D, #3c819e,  #94DFFF, #71C6EB);
    background-attachment: fixed;
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
}

header {
    background-color: #06214D;
    color: #A58362;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 h2 h3 h4 {
    padding: 4%;
}
a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #06214D;
    font-size: 30px;
}
a:hover {
    color: white;
}
h1, h2, h3, h4 {
    background-color: #06214D;
    color: #A58362;
    align-items: center;
}
p {
    font-weight: 400;
}
.button{
    border:1px solid #06214D;
    border-radius: 30px;
    text-align: center;
    background-color: #FFF;
    margin-bottom: 1%;
}
.button:hover{
    background-color: #06214D;
    border: #FFF;
    transition: 0.3s ease-in-out;
}
.foto-perfil img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1%;

    border-radius: 50%;

}
.self-introdution {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    max-width: 100%;
    text-indent: 5%;
}

.redes-sociais a{
    gap: 35px;
    margin: auto;
}