@media screen and (max-width: 1000px){
    
    .self-introdution{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        font-size: 15px;
        margin: auto;
        margin-top: 2%;
    }
    .foto-perfil img {
        width: 80%;
        margin: auto;
    }
    .redes-sociais{
        display: flex;
        flex-direction: column;
    }
    h2 h3 h4{
        align-content: center;
    }
}