body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 12px;
}   
header {
    background-color: #06214D;
    color: #A58362;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.imagens-cabecalho-index {
    gap: 50px;
    align-items: center;
}
h1 {
    color:#A58362;
    background-color: #06214D;
    padding: 50px;
}
a {
    color: #06214D;
}
.seta {
    border-radius: 50%;
}
.seta.voltar {
    transform: rotateY(180deg);
}
.interacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.modulos {
    display: flex;
    flex-direction: column;
}