body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 12px;
}   
header {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 25px;
}
