/* tags */
body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 12px;
}   
header {
    background-color: #06214D;
    color: #A58362;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

h1 {
    color:#A58362;
    background-color: #06214D;
    padding: 50px;
}
h2 {
    color: #06214D;
}
h3 {
    color: #06214D;
}
a {
    color: #06214D;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    background-color: #06214D;
    color: white;
    padding: 2px;
    border-radius: 15%;
}
abbr {
    text-decoration: none;
    font-weight: 600;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0px;
}
td {
    padding: 5px;
}


/* Classes */
.a .referencias {
    font-size: 10px;
}
.blocos {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #a5836286;
    padding: 5px;
    margin: 25px;
    border-radius: 3%;
    width: 1000px;
   
}
.bloco {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #F8F9FB;
    margin: 15px;
    padding: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}
.bloco:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #F8F9FB;
    margin: 15px;
    width: 115px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    z-index: auto;
}
.imagens {
    border-radius: 15%;
    gap: 20px;
}
.imagens-cabecalho-index {
    gap: 50px;
    align-items: center;
}
.interacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.modulos {
    background-color: #a5836213;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    position: relative;
    transition: background-color 0.2s ease-in-out;
}
.modulos:hover {
    background-color: #f8f9fb;
}
.modulo {
    opacity: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    position: absolute;
    height: 400px;
    width: 500px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: background-color 0.2s ease-in-out;
}
.modulo:hover {
    background-color: #F8F9FB;
}
.modulo.selecionado {
    background-color: #a5836286;
    opacity: 1;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.modulosjs {
    background-color: #a5836213;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    position: relative;
    transition: background-color 0.2s ease-in-out;
}
.modulosjs:hover {
    background-color: #f8f9fb;
}
.modulojs {
    opacity: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    position: absolute;
    height: 400px;
    width: 500px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: background-color 0.2s ease-in-out;
}
.modulojs:hover {
    background-color: #F8F9FB;
}
.modulojs.selecionado {
    background-color: #a5836286;
    opacity: 1;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.seta {
    background-color: #a5836286;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.seta:hover{
    background-color: #F8F9FB;
}
.seta.voltar {
    transform: rotateY(180deg);
}
